# Misc
.DS_Store

# Dependencies
node_modules

# Environment varaibles
*.env

# Tests coverage
coverage

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors and IDEs
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json